<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 	
 <mapper namespace="com.academy.motionis.model.classMapper">
 	<insert id="insertClass" parameterType = "ClassDTO">
 		insert into classCateBaseInfo values (seq_classBaseInfo.nextval, 'CL_'||seq_classBaseInfo.nextval, #{c_name}, #{c_teacher}, #{c_tuition})
 	</insert>
 
 	<select id="selectClassCateAll" resultType="ClassDTO" > 
 		select * from classCateBaseInfo order by c_name
 	</select>
 	
 	<select id="selectClassCate" resultType="ClassDTO" parameterType="String">
 		select * from classCateBaseInfo where c_code = #{c_code}
 	</select>
 	
 	<update id="updateClassCate" parameterType = "ClassDTO">
 		update classCateBaseInfo 
 		set 
	 		c_name = #{c_name},
	 		c_teacher = #{c_teacher},
	 		c_tuition = #{c_tuition}
 		where
 			c_code = #{c_code}
 	</update>
 	
 	<delete id="deleteClass" parameterType="String">
 		delete from classCateBaseInfo where c_code = #{c_code}
 	</delete>
 	
 	<insert id="insertClassTimeTable" parameterType="ClassTimeTableDTO">
 		insert into classTimeTable values(#{c_code},#{c_start_day},#{c_end_day},#{c_day},#{c_start_time},#{c_end_time},#{c_limit}, #{ct_code})
 	</insert>
 	
 	<select id="selectCttAll" resultType="ClassTimeTableDTO">
 		select * from classTimeTable
 	</select>
 	
 	<select id="checkClassTimeTable" parameterType="String" resultType="ClassTimeTableDTO">
 		select * from classTimeTable where c_code = #{c_code}
 	</select>
 	
 	<update id="updateClassTimeTable" parameterType="ClassTimeTableDTO">
 		update classTimeTable
 		set
 			c_start_day = #{c_start_day},
 			c_end_day = #{c_end_day},
 			c_day = #{c_day},
 			c_start_time = #{c_start_time},
 			c_end_time = #{c_end_time},
 			c_limit = #{c_limit}
 		where
 			c_code = #{c_code} AND
 			ct_code = #{ct_code}
 	</update>
 	
 	<delete id="deleteClassTimeTable" parameterType="String">
 		delete from classTimeTable where c_code = #{code}
 	</delete>
 	
 	<select id="selectCtt" parameterType="String" resultType="ClassTimeTableDTO">
 		select * from classTimeTable where c_code = #{c_code}
 	</select>
 	
 	<select id="selectClassName" resultType="ClassDTO">
 		select cl.c_code, max(cl.c_name) as c_name from classcatebaseinfo cl join classtimetable ct on (cl.c_code = ct.c_code ) GROUP BY cl.c_code
 	</select>
 	
 	
 </mapper>